.homeMVPpage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.homeMVPpage__header {
  height: 80px;
  margin: 0px 50px;
  display: flex;
  align-items: center;
}

.homeMVPpage__header__logo {
  font-family: "Roboto";
  font-size: 34px;
  margin: 0;
  font-weight: bold;
}

.homeMVPpage__hero__description {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-width: 600px;
  margin-top: 100px;
}

.homeMVPpage__hero__description h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.04em;
  font-size: 54px;
  line-height: normal;
  margin-bottom: 20px;
  font-weight: 700;
  width: 100%;
}

.homeMVPpage__hero__description__text {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
}

.homeMVPpage__hero {
  height: 100%;
  min-height: 700px;
  margin-left: 100px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeMVPpage__hero__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}

.homeMVPpage__hero__image img {
  width: 800px;
  height: auto;
  position: relative;
  /* bottom: 60px; */
}

.homeMVPpage__hero__description__tools__section {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.homeMVPpage__hero__description__tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.homeMVPpage__hero__description__tools__icon {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  background: #3873ff;
  box-shadow: inset 0px 3.00856px 6.01712px #3873ff,
    inset 0px -3.00856px 9.02569px #3873ff,
    inset 0px -1.50428px 20.0571px #3873ff,
    inset 0px 20.0571px 20.0571px #3873ff,
    inset 0px 1.00285px 20.5585px rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: #ffff;
}

.homeMVPpage__hero__description__tools p {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.homeMVPpage__hero__description__text__policy {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

@media (max-width: 1600px) {
  .homeMVPpage__hero__image img {
    width: 700px;
  }

  .homeMVPpage__hero__image {
    margin-left: 5%;
  }
  .homeMVPpage__hero__description {
    width: 400px;
    min-width: 400px;
  }
  .homeMVPpage__hero__description h1 {
    font-size: 44px;
    width: 400px;
  }
  .homeMVPpage__hero__description__text {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .homeMVPpage__hero__image {
    margin-left: 0%;
  }
  .homeMVPpage__hero__image img {
    width: 500px;
  }
}
@media (max-width: 900px) {
  .homeMVPpage__hero__image img {
    width: 500px;
  }
  .homeMVPpage__hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-height: 800px;
  }
  .homeMVPpage__hero__description {
    margin-top: 0px;
  }
  .homeMVPpage__hero__image {
    margin-top: 250px;
  }
}
@media (max-width: 450px) {
  .homeMVPpage__hero__image img {
    width: 300px;
  }
  .homeMVPpage__hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .homeMVPpage__hero__description {
    margin-top: 0px;
  }
  .homeMVPpage__hero__image {
    margin-top: 150px;
  }
  .homeMVPpage__hero__description {
    width: 300px;
    min-width: 300px;
  }
  .homeMVPpage__hero__description h1 {
    font-size: 34px;
    width: 300px;
  }
  .homeMVPpage__hero__description__text {
    font-size: 14px;
  }
  .homeMVPpage__hero__description__tools__icon {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
  }
}
